#appLayout{
    display: flex;
    min-height: 100vh;
}

#main{
    flex-grow: 1;
    padding: .5rem;
    position: relative;
    overflow: scroll;
}

@media screen and (max-width: 480px) {
    #appLayout{
        flex-direction: column;
    }
}